__pycache__/
.idea/*
*.py[cod]
.env
venv/
*.sqlite3

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

vue-frontend/.*

vue-frontend/build/
vue-frontend/config/
vue-frontend/static/
vue-frontend/package.json
vue-frontend/package-lock.json